<%= render '/title' %>

<div class="content">
	<p>
		We think machine learning systems should be as simple to build and deploy as web apps.
	</p>
	<p>
		The goal of the <b>regret</b> framework is to do for machine learning what frameworks like <%= link_to 'Django', 'https://www.djangoproject.com/' %> and <%= link_to 'Rails', 'http://rubyonrails.org/' %> have done for web development.
	</p>
	<p>
		Check out <%= link_to 'our view of the future of ML', 'manifesto' %>, or see some <%= link_to 'code examples', '???'%>. Or, learn a bit <%= link_to 'about us', '???' %>
	</p>
</div>

<%= render '/copyright' %>